
.home-page {
  min-height: 100vh;
  background-color: #FCFDFD;
  font-family: Arial, sans-serif;
  color: #333;
}

/* header */
.header {
  background-color: #021029c8;
  border-bottom: 1px solid #d1d5db;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 40;
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-box {
  width: 50px;
  height: 52px;
  background-color: #1A7440; 
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-title {
  font-size: 25px;
  font-weight:700;
  color: #e3e6e9; 
  margin: 0;
}

.header-subtitle {
  font-size: 14px;
  color: #cccdce; 
  margin: 0;
}


.view-buttons {
  display: flex;
  gap: 8px;
}

.view-btn {
  padding: 8px;
  border-radius: 8px;
  background-color: #f3f4f6;
  color: #374151;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
}

.view-btn:hover {
  background-color: #e5e7eb;
}

.view-btn.active {
  background-color: #2563eb;
  color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.icon {
  width: 20px;
  height: 20px;
}



/* Main   */
.main-container {
  max-width: 1200px;
  margin: 24px auto;
  padding: 0 16px;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 24px;
  margin-top: 24px;
}

.left-column, .right-column {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* Card styling*/
.card {
  background-color: #ffffff;
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
}

/* Footerr*/
.footer {
  background-color: #1D283A;
  border-top: 1px solid #d1d5db;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.03);
  margin-top: 48px;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  text-align: center;
  color: #6b7280;
  font-size: 14px;
}

/* mob responsive */
@media (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}
